{% extends "base.html.twig" %}

{% block title %}Nouveau meuble{% endblock %}

{% block body %}
    
    <h1>Création d'un nouveau meuble</h1>
    {{ form(form) }}
{% endblock %}

{#{% extends "meubles/form.html.twig" %}

{% block title %}Création d'un nouveau meuble {% endblock %}

{% block form_title %}Création d'un nouveau meuble {% endblock %}#}
